<% if(registrationErrors.length != 0) { %>
  <dev class="errors">
    <h3 class='errors__title'>Villur við undirskrift:</h3>

    <ul class="errors__list">
      <% for(var i = 0; i < registrationErrors.length; i++) { %>
        <li><%- registrationErrors[i] %></li>
      <% } %>
    </ul>
  </dev>
<% } %>
