<%- include('header') -%>

<form method="post" action="/">
  <label>
    Nafn:
    <input required type="text" name="name" value="">
  </label>
  <label>
    Kennitala:
    <input
      required
      type="text"
      pattern="^[0-9]{6}-?[0-9]{4}$"
      name="nationalId"
      value=""
    >
  </label>
  <label>
    Athugasemd:
    <input type="text" name="comment" value="">
  </label>
  <div>
    <input type="checkbox" id="anon" name="anon" value=false>
    <label for="anon"> Ekki birta nafn รก lista </label>
  </div>

  <% if(registrationErrors != []) { %>
    <%- include('registrationErrors') -%>
  <% } %>

  <button>Skrifa undir</button>
</form>

<%- include('registrationList') -%>

<%- include('footer') -%>
