<div class="list">
  <h2 class="list__title">Undirskriftir</h2>
  <table>
    <colgroup>
      <col span="1" class='list__day'>
      <col span="1" class='list__name'>
      <col span="1" class='list__comment'>
   </colgroup>
    <tr>
      <th class="list__day__text">Dags</th>
      <th class="list__day__text">Nafn</th>
      <th class="list__day__text">Athugasemd</th>
    </tr>
    <% for(var i = 0; i < signatures.length; i++) { %>
      <% if(!signatures[i].anonymous) { %>
        <tr>
          <td class="list__day__text"><%- signatures[i].signed.toLocaleDateString().replace('/','.').replace('/','.') %></th>
          <td class="list__name__text"><%- signatures[i].name %></th>
          <td class="list__comment__text"><%- signatures[i].comment %></th>
        </tr>
      <% } %>
    <% } %>
  </table>
</div>



