body {
  background-color: #ffffec;
  display: flex;
  justify-content: center;
}

.pagecontainer {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  width: 100%;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.form {
  border-bottom: #999 solid;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5em;

  &__input {
    display: flex;
    flex-direction: row;
    margin: 0.5em;
  }

  &__label {
    width: 7em;
  }

  &__text {
    height: 1.5em;
    width: 100%;

    &__large {
      height: 3em;
      width: 100%;
    }
  }

  &__anon {
    display: flex;
    justify-content: center;
    margin: 0.5em;

    &__input {
      margin-right: 0.5em;
    }

    &__label {
      margin-left: 0.5em;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    width: 100%;

    &__sign {
      background-color: #fff;
      border-radius: 5px;
      font-size: 1.5em;
      padding-bottom: 0.2em;
      padding-left: 1em;
      padding-right: 1em;
      padding-top: 0.2em;
    }

    &__login {
      background-color: #fff;
      border-radius: 5px;
      font-size: 1em;
      padding-bottom: 0.2em;
      padding-left: 1em;
      padding-right: 1em;
      padding-top: 0.2em;
      width: 14em;
    }
  }

  &__login {
    &__error {
      display: flex;
      justify-content: center;
    }

    &__button {
      display: flex;
      justify-content: center;
    }
  }
}

.errors {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    display: flex;
    justify-content: center;
  }

  &__list {
    align-items: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  height: 3em;
}

th,
td {
  border: 1px solid #999;
}

.list {
  align-items: center;
  display: flex;
  flex-direction: column;

  &__day {
    width: 10%;

    &__text {
      padding: 5px;
      text-align: center;
    }
  }

  &__name {
    width: 15%;

    &__text {
      padding: 5px;
    }
  }

  &__comment__text {
    padding: 5px;
  }
}

.adminlist {
  align-items: center;
  display: flex;
  flex-direction: column;

  &__day {
    width: 10%;

    &__text {
      padding: 5px;
      text-align: center;
    }
  }

  &__name {
    width: 15%;

    &__text {
      padding: 5px;
    }
  }

  &__delete {
    width: 8%;
  }

  &__comment__text {
    padding: 5px;
  }

  &__buttonCase {
    display: flex;
    justify-content: center;
  }

  &__button {
    background-color: #fff;
    border-radius: 5px;
    border-width: 1px;
    font-size: 0.8em;
    padding: 0.6em;
  }
}

.page-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5em;
  width: 100%;

  &__link,
  &__pageCount {
    margin-bottom: 1em;
    margin-top: 1em;
  }
}

.logged-in-user {
  display: flex;
  flex-direction: row;

  &__name {
    font-weight: bold;
    margin-left: 0.2em;
  }
}
